CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.manifest
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/CH02_01_HelloWorld.csproj.FileListAbsolute.txt
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.manifest
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Form1.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Properties.Resources.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.csproj.FileListAbsolute.txt
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.manifest
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/CH03_01_SimpleVariable.csproj.FileListAbsolute.txt
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
