CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.manifest
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/CH02_01_HelloWorld.csproj.FileListAbsolute.txt
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.manifest
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Form1.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Properties.Resources.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.csproj.FileListAbsolute.txt
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.manifest
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/CH03_01_SimpleVariable.csproj.FileListAbsolute.txt
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.exe.config
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.vshost.exe.config
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.vshost.exe.manifest
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/CH03_02_MathOperator.csproj.FileListAbsolute.txt
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.exe.config
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.vshost.exe.config
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.vshost.exe.manifest
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/CH04_01_BoolOperator.csproj.FileListAbsolute.txt
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.exe.config
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.vshost.exe.config
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.vshost.exe.manifest
CH04/CH04_02_if/CH04_02_if/obj/Debug/CH04_02_if.csproj.FileListAbsolute.txt
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.exe.config
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.vshost.exe.config
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.vshost.exe.manifest
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/CH04_03_switch.csproj.FileListAbsolute.txt
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.exe.config
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.vshost.exe.config
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.vshost.exe.manifest
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/CH04_04_dowhile.csproj.FileListAbsolute.txt
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_05_while/CH04_05_while/bin/Debug/CH04_05_while.exe.config
CH04/CH04_05_while/CH04_05_while/bin/Debug/CH04_05_while.vshost.exe.config
CH04/CH04_05_while/CH04_05_while/bin/Debug/CH04_05_while.vshost.exe.manifest
CH04/CH04_05_while/CH04_05_while/obj/Debug/CH04_05_while.csproj.FileListAbsolute.txt
CH04/CH04_05_while/CH04_05_while/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_05_while/CH04_05_while/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_05_while/CH04_05_while/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_06_for/CH04_06_for/bin/Debug/CH04_06_for.exe.config
CH04/CH04_06_for/CH04_06_for/bin/Debug/CH04_06_for.vshost.exe.config
CH04/CH04_06_for/CH04_06_for/bin/Debug/CH04_06_for.vshost.exe.manifest
CH04/CH04_06_for/CH04_06_for/obj/Debug/CH04_06_for.csproj.FileListAbsolute.txt
CH04/CH04_06_for/CH04_06_for/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_06_for/CH04_06_for/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_06_for/CH04_06_for/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH05/CH05_01_ConvertType/CH05_01_ConvertType/bin/Debug/CH05_01_ConvertType.exe.config
CH05/CH05_01_ConvertType/CH05_01_ConvertType/bin/Debug/CH05_01_ConvertType.vshost.exe.config
CH05/CH05_01_ConvertType/CH05_01_ConvertType/bin/Debug/CH05_01_ConvertType.vshost.exe.manifest
CH05/CH05_01_ConvertType/CH05_01_ConvertType/obj/Debug/CH05_01_ConvertType.csproj.FileListAbsolute.txt
CH05/CH05_01_ConvertType/CH05_01_ConvertType/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH05/CH05_01_ConvertType/CH05_01_ConvertType/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH05/CH05_01_ConvertType/CH05_01_ConvertType/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH05/CH05_02_enum/CH05_02_enum/bin/Debug/CH05_02_enum.exe.config
CH05/CH05_02_enum/CH05_02_enum/bin/Debug/CH05_02_enum.vshost.exe.config
CH05/CH05_02_enum/CH05_02_enum/bin/Debug/CH05_02_enum.vshost.exe.manifest
CH05/CH05_02_enum/CH05_02_enum/obj/Debug/CH05_02_enum.csproj.FileListAbsolute.txt
CH05/CH05_02_enum/CH05_02_enum/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH05/CH05_02_enum/CH05_02_enum/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH05/CH05_02_enum/CH05_02_enum/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH05/CH05_03_struct/CH05_03_struct/bin/Debug/CH05_03_struct.exe.config
CH05/CH05_03_struct/CH05_03_struct/bin/Debug/CH05_03_struct.vshost.exe.config
CH05/CH05_03_struct/CH05_03_struct/bin/Debug/CH05_03_struct.vshost.exe.manifest
CH05/CH05_03_struct/CH05_03_struct/obj/Debug/CH05_03_struct.csproj.FileListAbsolute.txt
CH05/CH05_03_struct/CH05_03_struct/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH05/CH05_03_struct/CH05_03_struct/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH05/CH05_03_struct/CH05_03_struct/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH05/CH05_04_Array/CH05_04_Array/bin/Debug/CH05_04_Array.exe.config
CH05/CH05_04_Array/CH05_04_Array/bin/Debug/CH05_04_Array.vshost.exe.config
CH05/CH05_04_Array/CH05_04_Array/bin/Debug/CH05_04_Array.vshost.exe.manifest
CH05/CH05_04_Array/CH05_04_Array/obj/Debug/CH05_04_Array.csproj.FileListAbsolute.txt
CH05/CH05_04_Array/CH05_04_Array/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH05/CH05_04_Array/CH05_04_Array/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH05/CH05_04_Array/CH05_04_Array/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH05/CH05_05_String/CH05_05_String/bin/Debug/CH05_05_String.exe.config
CH05/CH05_05_String/CH05_05_String/bin/Debug/CH05_05_String.vshost.exe.config
CH05/CH05_05_String/CH05_05_String/bin/Debug/CH05_05_String.vshost.exe.manifest
CH05/CH05_05_String/CH05_05_String/obj/Debug/CH05_05_String.csproj.FileListAbsolute.txt
CH05/CH05_05_String/CH05_05_String/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH05/CH05_05_String/CH05_05_String/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH05/CH05_05_String/CH05_05_String/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/bin/Debug/CH06_01_FunctionExample.exe.config
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/bin/Debug/CH06_01_FunctionExample.vshost.exe.config
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/bin/Debug/CH06_01_FunctionExample.vshost.exe.manifest
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/obj/Debug/CH06_01_FunctionExample.csproj.FileListAbsolute.txt
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH06/CH06_01_FunctionExample/CH06_01_FunctionExample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/bin/Debug/CH06_01_FunctionParam.exe.config
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/bin/Debug/CH06_01_FunctionParam.vshost.exe.config
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/bin/Debug/CH06_01_FunctionParam.vshost.exe.manifest
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/obj/Debug/CH06_01_FunctionParam.csproj.FileListAbsolute.txt
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH06/CH06_01_FunctionParam/CH06_01_FunctionParam/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH06/CH06_03_ParamArray/CH06_03_ParamArray/bin/Debug/CH06_03_ParamArray.exe.config
CH06/CH06_03_ParamArray/CH06_03_ParamArray/bin/Debug/CH06_03_ParamArray.vshost.exe.config
CH06/CH06_03_ParamArray/CH06_03_ParamArray/bin/Debug/CH06_03_ParamArray.vshost.exe.manifest
CH06/CH06_03_ParamArray/CH06_03_ParamArray/obj/Debug/CH06_03_ParamArray.csproj.FileListAbsolute.txt
CH06/CH06_03_ParamArray/CH06_03_ParamArray/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH06/CH06_03_ParamArray/CH06_03_ParamArray/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH06/CH06_03_ParamArray/CH06_03_ParamArray/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH06/CH06_04_MainFunction/CH06_04_MainFunction/bin/Debug/CH06_04_MainFunction.exe.config
CH06/CH06_04_MainFunction/CH06_04_MainFunction/bin/Debug/CH06_04_MainFunction.vshost.exe.config
CH06/CH06_04_MainFunction/CH06_04_MainFunction/bin/Debug/CH06_04_MainFunction.vshost.exe.manifest
CH06/CH06_04_MainFunction/CH06_04_MainFunction/obj/Debug/CH06_04_MainFunction.csproj.FileListAbsolute.txt
CH06/CH06_04_MainFunction/CH06_04_MainFunction/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH06/CH06_04_MainFunction/CH06_04_MainFunction/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH06/CH06_04_MainFunction/CH06_04_MainFunction/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH06/CH06_05_Delegate/CH06_05_Delegate/bin/Debug/CH06_05_Delegate.exe.config
CH06/CH06_05_Delegate/CH06_05_Delegate/bin/Debug/CH06_05_Delegate.vshost.exe.config
CH06/CH06_05_Delegate/CH06_05_Delegate/bin/Debug/CH06_05_Delegate.vshost.exe.manifest
CH06/CH06_05_Delegate/CH06_05_Delegate/obj/Debug/CH06_05_Delegate.csproj.FileListAbsolute.txt
CH06/CH06_05_Delegate/CH06_05_Delegate/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH06/CH06_05_Delegate/CH06_05_Delegate/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH06/CH06_05_Delegate/CH06_05_Delegate/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/bin/Debug/CH07_01_Diagnostics.exe.config
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/bin/Debug/CH07_01_Diagnostics.vshost.exe.config
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/bin/Debug/CH07_01_Diagnostics.vshost.exe.manifest
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/obj/Debug/CH07_01_Diagnostics.csproj.FileListAbsolute.txt
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH07/CH07_01_Diagnostics/CH07_01_Diagnostics/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH07/CH07_02_Exception/CH07_02_Exception/bin/Debug/CH07_02_Exception.exe.config
CH07/CH07_02_Exception/CH07_02_Exception/bin/Debug/CH07_02_Exception.vshost.exe.config
CH07/CH07_02_Exception/CH07_02_Exception/bin/Debug/CH07_02_Exception.vshost.exe.manifest
CH07/CH07_02_Exception/CH07_02_Exception/obj/Debug/CH07_02_Exception.csproj.FileListAbsolute.txt
CH07/CH07_02_Exception/CH07_02_Exception/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH07/CH07_02_Exception/CH07_02_Exception/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH07/CH07_02_Exception/CH07_02_Exception/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/bin/Debug/CH08_01_DefineClassAndInterface.exe.config
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/bin/Debug/CH08_01_DefineClassAndInterface.vshost.exe.config
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/bin/Debug/CH08_01_DefineClassAndInterface.vshost.exe.manifest
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/obj/Debug/CH08_01_DefineClassAndInterface.csproj.FileListAbsolute.txt
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH08/CH08_01_DefineClassAndInterface/CH08_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/bin/Debug/CH09_01_DefineClassAndInterface.exe.config
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/bin/Debug/CH09_01_DefineClassAndInterface.vshost.exe.config
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/bin/Debug/CH09_01_DefineClassAndInterface.vshost.exe.manifest
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/obj/Debug/CH09_01_DefineClassAndInterface.csproj.FileListAbsolute.txt
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH09/CH09_01_DefineClassAndInterface/CH09_01_DefineClassAndInterface/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH09/ClassLib/ClassLib/obj/Debug/ClassLib.csproj.FileListAbsolute.txt
CH09/ClassLib/ClassLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH09/CH09_02_ClassLib/CH09_02_ClassLib/bin/Debug/CH09_02_ClassLib.exe.config
CH09/CH09_02_ClassLib/CH09_02_ClassLib/bin/Debug/CH09_02_ClassLib.vshost.exe.config
CH09/CH09_02_ClassLib/CH09_02_ClassLib/bin/Debug/CH09_02_ClassLib.vshost.exe.manifest
CH09/CH09_02_ClassLib/CH09_02_ClassLib/obj/Debug/CH09_02_ClassLib.csproj.FileListAbsolute.txt
CH09/CH09_02_ClassLib/CH09_02_ClassLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH09/CH09_02_ClassLib/CH09_02_ClassLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH09/CH09_02_ClassLib/CH09_02_ClassLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH09/ClassLib/ClassLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH09/ClassLib/ClassLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/bin/Debug/CH09_03_StructAndClass.exe.config
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/bin/Debug/CH09_03_StructAndClass.vshost.exe.config
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/bin/Debug/CH09_03_StructAndClass.vshost.exe.manifest
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/obj/Debug/CH09_03_StructAndClass.csproj.FileListAbsolute.txt
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH09/CH09_03_StructAndClass/CH09_03_StructAndClass/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/bin/Debug/CH10_01_FieldPropertyAndFunction.exe.config
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/bin/Debug/CH10_01_FieldPropertyAndFunction.vshost.exe.config
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/bin/Debug/CH10_01_FieldPropertyAndFunction.vshost.exe.manifest
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/obj/Debug/CH10_01_FieldPropertyAndFunction.csproj.FileListAbsolute.txt
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH10/CH10_01_FieldPropertyAndFunction/CH10_01_FieldPropertyAndFunction/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH10/CardLib/CardLib/obj/Debug/CardLib.csproj.FileListAbsolute.txt
CH10/CardLib/CardLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH10/CardLib/CardClient/bin/Debug/CardClient.exe.config
CH10/CardLib/CardClient/bin/Debug/CardClient.vshost.exe.config
CH10/CardLib/CardClient/bin/Debug/CardClient.vshost.exe.manifest
CH10/CardLib/CardClient/obj/Debug/CardClient.csproj.FileListAbsolute.txt
CH10/CardLib/CardClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH10/CardLib/CardClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH10/CardLib/CardLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH10/CardLib/CardLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH10/CardLib/CardClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
