CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.config
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/bin/Debug/CH02_01_HelloWorld.vshost.exe.manifest
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/CH02_01_HelloWorld.csproj.FileListAbsolute.txt
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_01_HelloWorld/CH02_01_HelloWorld/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.config
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/bin/Debug/CH02_02_HelloWorldWindow.vshost.exe.manifest
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Form1.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.Properties.Resources.resources
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/CH02_02_HelloWorldWindow.csproj.FileListAbsolute.txt
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH02/CH02_02_HelloWorldWindow/CH02_02_HelloWorldWindow/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.config
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/bin/Debug/CH03_01_SimpleVariable.vshost.exe.manifest
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/CH03_01_SimpleVariable.csproj.FileListAbsolute.txt
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH03/CH03_01_SimpleVariable/CH03_01_SimpleVariable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.exe.config
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.vshost.exe.config
CH03/CH03_02_MathOperator/CH03_02_MathOperator/bin/Debug/CH03_02_MathOperator.vshost.exe.manifest
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/CH03_02_MathOperator.csproj.FileListAbsolute.txt
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH03/CH03_02_MathOperator/CH03_02_MathOperator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.exe.config
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.vshost.exe.config
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/bin/Debug/CH04_01_BoolOperator.vshost.exe.manifest
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/CH04_01_BoolOperator.csproj.FileListAbsolute.txt
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_01_BoolOperator/CH04_01_BoolOperator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.exe.config
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.vshost.exe.config
CH04/CH04_02_if/CH04_02_if/bin/Debug/CH04_02_if.vshost.exe.manifest
CH04/CH04_02_if/CH04_02_if/obj/Debug/CH04_02_if.csproj.FileListAbsolute.txt
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_02_if/CH04_02_if/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.exe.config
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.vshost.exe.config
CH04/CH04_03_switch/CH04_03_switch/bin/Debug/CH04_03_switch.vshost.exe.manifest
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/CH04_03_switch.csproj.FileListAbsolute.txt
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_03_switch/CH04_03_switch/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.exe.config
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.vshost.exe.config
CH04/CH04_04_dowhile/CH04_04_dowhile/bin/Debug/CH04_04_dowhile.vshost.exe.manifest
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/CH04_04_dowhile.csproj.FileListAbsolute.txt
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CH04/CH04_04_dowhile/CH04_04_dowhile/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
